.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 20vh;

  .inputGroup {
    display: flex;
    gap: 1rem;

    div {
      &:first-child {
        flex: 1;
      }

      &:last-child {
        width: 4rem;
        display: flex;
      }
    }
  }
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listContainer {
  overflow-y: auto;
  height: 100%;

  .listCard {
    padding: 1rem;
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    background-color: transparent;

    &:not(:last-child) {
      border-bottom: 1px solid grey;
    }

    img {
      max-width: 3rem;
      height: auto;
      margin-right: 1rem;
    }

    &:hover {
      background-color: #45785420;
      cursor: pointer;
    }
  }
}
