.listContainer {
    height: 80vh;
    overflow-y: auto;
    padding: 1rem;

    .listCard {
        padding: 1rem;
        display: flex;
        align-items: center;
        border: none;
        width: 100%;
        background-color: transparent;

        &:not(:last-child) {
            border-bottom: 1px solid grey;
        }

        img {
            width: 3rem;
            margin-right: 1rem;
        }
        
        &:hover {
            background-color: #45785420;
            cursor: pointer;
        }
    }

}