.container {
    padding: 1rem 0.75rem;
    border: 1px #00000050 solid;
    border-radius: 4px;
    box-sizing: border-box;
    
    input {
        font-size: 1rem;
        background: none;
        border: none;
        width: 100%;
        
        &:focus {
            outline: none;
        }
    }
    
    &:hover {
        border: 1px #000000 solid;
    }
    
    &:focus-within {
        border: 2px #1ca3a6 solid ;
        padding: calc(1rem - 1px) calc(0.75rem - 1px);
    }
}

@media(min-width: 720px) {
    .container {
        max-width: 300px;
    }
} 