.container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1rem;
    margin-top:1rem;
}


.firstOfGen {
    height: 2rem;
    grid-column-start: 1;
    grid-column-end: span 12
}

.boxContainer {
    max-width: 720px;
    border-radius: 1rem;
}

.boxHeader {
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1ca3a6;
}

.boxGrid {
    background-color: #cef1ad;
    border: 5px solid #4bcdcf;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 0.5rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0,0.05);
    padding: 0.5rem;
    border-radius: 1rem;
    
    img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.1));
    }
    
}

.cardActive {
    background-color: #4bcdcf80
}

@media (max-width: 980px) {
    .container {
        grid-template-columns: repeat(8,1fr);
        gap: 0.5rem;
        align-items: center;
    }

    .firstOfGen {
        height: 1rem;
        grid-column-end: span 8
    }
}

@media (max-width: 425px) {
    .container {
        grid-template-columns: repeat(5,1fr);
        gap: 0.5rem;
        align-items: center;
    }


    .firstOfGen {
        grid-column-end: span 5
    }

    .boxHeader {
        border-radius: 1rem 1rem 0 0;
        padding: 0.25rem 1rem;

        span:first-child, span:last-child {
            font-size: small;
        }
    }

    .boxContainer{
        margin: 0 auto;

    }
    
    .boxGrid {
        border-width: 3px;
        padding: 0.5rem;
        gap: 0.25rem;
    }

    .card {
        padding: 0.25rem;
        border-radius: 0.25rem;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}