.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: white;
    width: 450px;
    max-height: 80vh;
    z-index: 10;

    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .fixedHeight {
    height: 80vh;
  }

  .background {
    background-color: #00000060;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
