.container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.filterControl {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
 
    svg {
        margin-right: 0.3rem;
}
}

.verticalFilter {
    flex-direction: column;

    .drawer {
        padding: 1rem;
        margin-top: 1rem;
    }

    .newDrawer {
        padding: 1rem;
        margin-top: 1rem;
    }
}