.iconButton {
  background-color: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.optionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
