.card {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0,0.05);
    padding: 0.5rem;
    border-radius: 1rem;
    
    img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.1));
    }
    
}

.cardActive {
    background-color: #4bcdcf80
}

@media (max-width: 980px) {
    .card {
        padding: 0.25rem;
        border-radius: 0.25rem;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}