.container {
    background-color: #1ca3a6;
    border-bottom: 3px solid #4bcdcf ;
    
    .nav {
        padding: 0 2rem;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        h2 {
            margin: 0;
            padding-right: 2rem;
        }
        
        a {
            padding: 2rem;
            font-weight: bold;
            
            transition: 0.2s;
            
            &.active {
                background-color: #4bcdcf;
            }
            
            &:hover {
                background-color: #4bcdcf;
            }
        }
    }
    
}

@media(max-width: 720px) {
    .container {
        .nav {
            padding: 0 2rem;
            display: flex;
            align-items: center;

            a {
                padding: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: small;
            }

            Button{
                margin-left: auto;
            }
        }
    }

    
}